* { margin: 10; padding: 10;}

body{
	font-family: 
}

.sidebar{
	width: 30%;
	height: 100%;
	background-color: yellow;
	text-decoration: none;
}

.sidebar-junior img{
	width: 90%;
	height:90%;
}

.main{
	margin-left: 31%;
	display: inline-block;
	background-color: blue;
	float: left;
	width: 70%;
	height: 100%;
}

.main-junior{
	display: inline-block;
	width:30%;
}

.main:hover{
	background-color: black;
	transition: color 1.5s;
}

.main-junior img{
	width:100%;
	margin-left: 10px;
}