#main{
	max-width: 600px;
 	margin: 0 auto;
}

html{
	background-color: white;
}

body{
	background-color: blue;
	padding:50px;
}

h1.menu{
	padding:40px;
	background-color: red;
	text-align: center;
}

h2.content{
	padding: 50px;
	background-color: yellow;
	margin: auto;
	text-align: center;
}

h2 li{
	padding: 20px;
}

.break{
	padding: 250px;
}