*{
	padding: 0;
	margin: 0;
}

html{
	background-color: white;
}

body{
	background-color: blue;
}


/*Header*/
h1.menu{
	/*remember to use margin-top*/
	margin: 0 40%;
	padding: 20px 0px;
	background-color: red;
	text-align: center;
}

h2.content{
	padding: 50px;
	background-color: white;
	margin: auto;
	text-align: center;
}

.project{
	width: 50px;
	height: 50px;
}

.aka{
	margin-top: 50%;
	margin-left: 10%;
	background-color: red;
}

.icecube{
	margin-top: 150%;
	margin-left: 90%;
	background-color: yellow;
}

.group{
	margin-top: 200%;
	margin-left: 50%;
	background-color: blue;
}

.trivial{
	margin-top: 250%;
	margin-bottom: 100%;
	margin-left: 30%;
	background-color: black;
}

.aka .gif{
	
}


h3.back{
	/*remember to use margin-top*/
	margin: 0 40%;
	padding: 20px 0px;
	background-color: red;
	text-align: center;
}