#main{
	max-width: 600px;
 	margin: 0 auto;
}

html{
	background-color: white;
}

body{
	background-color: blue;
	padding:50px;
}

h1.menu{
	padding:40px;
	background-color: red;
}

h2.content{
	padding-top: 50px;
	background-color: yellow;
}